<div {{ attributes.addClass('container-fluid') }} >
    <div class="row get-started-block">
        <center>
            <h2>{{content.field_block_title}}</h2>
            <h2><strong>{{content.field_block_sub_title}}</strong></h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-body">
                {{content.body}}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-buttons">
                {{content.field_addon_buttons}}
            </div>
        </center>
    </div>
</div>

