<div {{ attributes.addClass('container') }} >
    <div class="row our-api-explore-block">
        <center>
            <h2>{{content.field_block_title}}</h2>
            <h2><strong>{{content.field_block_sub_title}}</strong></h2>
            <div class="our-api-explore-block-body">
                {{content.body}}
            </div>
            <div class="get-started-buttons">
                {{content.field_addon_buttons}}
            </div>
            <hr class="our-api-line">
        </center>
    </div>
</div>

