<section {{ attributes.addClass('experience-banking-api-header') }} >
    <div class="container-fluid">    
        <div class="row banner-title experience-banking-api-block">
            <div class="col-sm-6 left-banner-content-footer">
                {{content.field_basic_block_image}}  
            </div>
            <div class="col-sm-6 right-banner-content-footer">
                <h1>
                    <strong>
                        {{content.field_block_title}}
                    </strong>
                </h1>
                <h4>    
                    {{content.field_block_sub_title}}
                </h4>
                {{content.body}}
                {% if content.field_additional_buttons is not empty  %}     
                    {{content.field_additional_buttons}}   
                {% endif %} 
            </div>
        </div>
    </div>
</section>         
