
<div class="user-forgot-pass login-form-popup">
    <h2>Quên mật khẩu?</h2>
    <div class="login-right-form forgot-pass-right-form">
        <form{{attributes}}>
            {{element.name}}

           {{element.actions.submit}}
           {{ element.form_build_id }} {# required #}
            {{ element.form_id }}
        </form>
        <p>Bạn chưa có tài khoản?<a class="sign-up"  href='register'>Đăng ký ngay</a></p>
    </div>
</div>