<div class="forgot-pass-mail-link">
    <form{{attributes}}>
        <div class="dontdisplay">
            {{children}}
        </div>

        {{element.account.pass}}
        {{element.actions.submit}}
        {{ element.form_build_id }}
        {{ element.form_id }}
    </form>
    <p>Bạn chưa có tài khoản?<a class="sign-up"  href='/user/register'>Đăng ký ngay</a></p>
</div>
