
<div class="user-forgot-pass login-form-popup">
    <h2>Forgot Password?</h2>
    <div class="login-right-form forgot-pass-right-form">
        <form{{attributes}}>
            {{element.name}}

           {{element.actions.submit}}
           {{ element.form_build_id }} {# required #}
            {{ element.form_id }}
        </form>
        <p>Do not have an account? <a class="sign-up"  href='register'>Sign Up Now</a></p>
    </div>
</div>
