<div class="contact-us-icon-shadow"><img class="contact-us-shadow-img" src="{{base_path ~ directory }}/images/Group781.png"></div>
<div class="contact-us-icon">
    {{fields.field_form_icon.content}}
    <div class="one"></div>
</div>
<h3>{{fields.title.content}}</h3>
<hr class="contact-us-line">
<div class="contact-body">{{fields.body.content}}</div>
<a class="contact-us-btn btn"href={{fields.field_link_to_a_form.content|striptags}}>{{fields.title.content}}<img class="contact-us-img" src="{{base_path ~ directory }}/images/Group 449.png"></a>