
<div class="general-enquiry">
<div class="row">
    <div class="col-sm-6 form-title">
        <strong>General Enquiry</strong>
    </div>
     <div class="col-sm-6">
         <button class="contact-us--back-btn"><a href="contact-us"><img src="{{base_path ~ directory }}/images/Group 449.png"> Back to contact us </a></button>
     </div>
</div>
     <div class="row">
        <hr class="contact-us-line">
        <form{{attributes}}>
            {{children}}
            {{ element.form_build_id }} {# required #}
            {{ element.form_id }}
        </form>
     </div>        
 
</div>

