<div class="login-page">
<div class="col-md-5 left-side-image">
 <img src="{{base_path ~ directory }}/images/Login-Bigscreen.png">
</div>

<div class="col-md-7 right-side-form">
<section class="open_banking_header usr-hd-sec">
  <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
    <div class="site-branding-wrap mb-header">
      <div class="site-logo"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo"><img src="{{base_path ~ directory }}/images/logo-mb-new.png"></a></div>
      <div class="site-slogan-wrap">
        <span class="site-name">MB Banking Developer Portal</span>
        <span class="site-slogan">Powered by DisruptionSuite</span>
      </div>
     </div>
  </header>
</section>

  <div class="login-form">
    <div class="site-branding-wrap mb-hide">
      <div class="site-logo"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo"><img src="{{base_path ~ directory }}/images/logo-mb-new.png"></a></div>
      <div class="site-slogan-wrap">
        <span class="site-name">MB Banking Developer Portal</span>
        <span class="site-slogan">Powered by DisruptionSuite</span>
      </div>
     </div>
    <h2>Login</h2>
    {# Header #}
    {% if page.header %}
      {% block header %}
        <div class="col-sm-12" role="heading">
          {{ page.header }}
        </div>
      {% endblock %}
    {% endif %}
  {# Content #}
  {% block content %}
    <a id="main-content"></a>
    {{ page.content }}
  {% endblock %}
</div>
</div>
</div>