<div class="contact-us-inner-part">
<h2>{{fields.title.content}}</h2>
<hr class="contact-us-line">
<div class="contact-body">{{fields.body.content}}</div>
<a class="contact-us-btn btn"href={{fields.field_link_to_a_form.content|striptags}}>{{fields.title.content}}<img class="contact-us-img" src="{{base_path ~ directory }}/images/contacticon.png"></a>
</div>
<div class="contact-us-bg">
    {{fields.field_form_icon.content}}
</div>