<div class="contact-us-forms">
<div class="contact-us-form-top clearfix">
  <div class="col-sm-12 form-title">
    <h2>Yêu cầu tính năng mới</h2>
    <p>We'll review your bug report and will contact you if more information is needed.</p>
    <button class="contact-us--back-btn"><a href="contact-us"><img src="{{base_path ~ directory }}/images/contacticon.png"> Trở lại Liên hệ với chúng tôi</a></button>
  </div>
</div>
<div class="contact-form">
  <div class="row form-report">
    <form{{attributes}}>
      {{children}}
      {{ element.form_build_id }} {# required #}
      {{ element.form_id }}
    </form>
  </div>
</div>
</div>


